<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Distance Calculator</title>
    <link rel="stylesheet" href="/static/css/guide.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/tomickigrzegorz/autocomplete@1.8.6/dist/css/autocomplete.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/tomickigrzegorz/autocomplete@1.8.6/dist/js/autocomplete.min.js"></script>
  </head>
  <body>
    <div class="cities">
      <div class="city">
        <label for="cityA">Select Location</label>
        <div class="auto-search-wrapper">
          <input type="text" autocomplete="off" id="cityA" placeholder="Enter any location" />
        </div>
      </div>
      <div class="city">
        <label for="cityB">Supermarket/Market</label>
        <div class="auto-search-wrapper">
          <input type="text" autocomplete="off" id="cityB" placeholder="Choose a supermarket" />
        </div>
      </div>
      <button class="clear-distance">CLEAR</button>
    </div>
    <div class="length">Select locations</div>
    <div id="map"></div>
    <script src="/static/js/map/guide.js"></script>
  </body>
</html>
